myenv
build
dist
*.pyc
*.log
*.puml
*.png
*.svg
.venv
.env
output
*/output
*/output/*
*/output/*/*
*/output/*/*/*
*/output/*/*/*/*
*/output/*/*/*/*/*
*/__pycache__
*/__pycache__/*
*/__pycache__/*/*
*/__pycache__/*/*/*
*/__pycache__/*/*/*/*
*/__pycache__/*/*/*/*/*

